* {
  @charset "utf-8";
/* CSS Document */

h1{
	text-align: center;
	color:white;
	font-family:none;
}
.nav{
	text-align:center;
	

}
.nav li{
	border:solid white thin;
	border-radius:5px;
	width:50px;
	display:inline;
	color:white;
}
	
.container{
	background-image:url('http://content.wallpapers-room.com/resolutions/1600x1000/A/Wallpapers-room_com___A_New_Dawn_by_Burning-Liquid_1600x1000.jpg');
	height:800px;
	width:1000px;
	margin-left:180px;
}

.Welcome h4{ 
	text-align:center;
	color:white;
}


.Welcome{
	color:white;
	height:400px;
	width:200px;
	margin-top: -200px;
	background-color:black;
	border: solid white;
	
}

a{
	text-decoration:none;
	color:gold;
	
}



img {
	margin-left:300px;
	margin-top:10px;
	height:300px;
	width:400px;
	border:solid white;
}

.box1 {
	height:300px;
	width:250px;
	color:white;
	margin-left: 250px;
	margin-top: -180px;
	border:solid white;
	text-align: center;
}

.box2{
	height:300px;
	width:250px;
	color:white;
	margin-left: 510px;
	margin-top: -306px;
	border:solid white;
	text-align: center;
}

.Welcome a:visited{
	text-decoration:none;
	color:gold;
}

.nav a:visited{
	text-decoration: none;
	color:white;
}

.contact{
	height:400px;
	width: 220px;
	margin-left:774px;
	
	margin-top:-535px;
	border:solid white;
	
}

.contact h5{
	color:white;
	font-size:20px;
	text-align:center;
	margin-top:15px;
}

.contact ul{
	color:white;
}

.contact img{
	height:150px;
	width:100px;
	margin-left:60px;
	margin-top:40px;
	border:none;
}


html{
	background-color:black;
}
